@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');

.full {
    color: #000000;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
}

.background {
    background-size: cover;
    position: absolute;
    z-index: -1;
    height: 190vh;
    width: 97vw;
    display: flex;
    filter: blur(6px);
    overflow: visible;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gameName {
    color: #000000;
    font-family: 'RocknRoll One', cursive;
    font-size: 5rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: moverArriba 2s ease-in;
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
}

.descriptionContainer {
    display: flex;
    margin: auto;
    width: 90%;
    height: 100%;
    border: 3px solid #000000;
    border-radius: 2rem;
    padding: 10px;
    background: linear-gradient(0deg, #737373, #ffffff);
}

.header {
    border-right: 1px solid #FFFFDD;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin-top: 30px;
    margin-bottom: 40px;
}

.imagen {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 90%;
    height: 40%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 0, 0.534);
    box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 2px 1px 12px -1px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 2px 1px 12px -1px rgba(0, 0, 0, 0.24);
    animation: moverDerecha 2s ease-in;
}

.infoTitle {
    margin-top: 1rem;
    color: #000000;
    font-family: 'RocknRoll One', cursive;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

.info {
    color: #000000;
    font-family: 'RocknRoll One', cursive;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

.paw {
    color: #1403af;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
}

i {
    margin-right: 1rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50rem;
    font-family: 'RocknRoll One', cursive;
    padding: 1rem;
}

.titleDescription {
    font-size: 2rem;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;

}

.gameDescription {
    font-size: 1.5rem;
    justify-content: center;
    margin-bottom: 5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    color: white;
    background-color: #000000;
    border-radius: 2rem;
    margin: 7rem;
    font-size: 1.5rem;
    font-family: 'RocknRoll One', cursive;
    text-decoration: none;
    width: 25rem;
    height: 4rem;
    text-align: center;
    box-shadow: 7px 4px 30px 0px rgb(255, 255, 255);
}

.button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(124, 193, 250);
    transition: all 1.2s;
    box-shadow: none;
}

@keyframes moverArriba {
    0% {
        opacity: 0;
        transform: translatey(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width: 1200px) {
    .descriptionContainer {
        display: flex;
        flex-direction: column;
    }
    .header {
        border-right: none;
    }
}
